<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading outline">To master your breath is the way to release the anxieties and stresses of life. <br><br>
                    To consciously breath in and breath out, is the first step to this process of inner Peace.</h3>
                    <h2 class="section-heading">About Me</h2><br>
                    <h3 class="section-subheading text-muted">My Mission is to offer you the space to Remember the Power of your Breath. We take up to 24,000 Breaths a day and each one of these can open a doorway to your inner power. So, to become aware of your breath allows you to be become aware of what goes on in your body. Put this together with a realization of how your thoughts, words and actions also affect this inner power, you soon have all the tools you need to maintain and sustain good health and wellbeing through day life.
                    The most amazing thing you can ever realize, is the Power of Your Own Breath! “Paul Says Just Breath” <br>
                    <br><br><br><a href="https://Kriyayoga.org.uk/">Kriyayoga.org.uk</a>
                    <br><br><br><a href="https://Worldpeacemission.com/">Worldpeacemission.com</a>
                    <br><br><br><a href="https://Southamptonkiaikido.org/">Southamptonkiaikido.org</a></h3>
                </div>
            </div>
        </div>
    </section>
