<!-- About Section -->
    <section id="myjourney">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Journey</h2>
                    <h3 class="section-subheading text-muted">My name is Paul Wales and my Love and Passion is to offer the space to find your Inner Power, through the Action of your Breath. We take up to 24,000 Breaths a day, so remember, Paul Say’s “Just Breath” and find your inner power.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Gym</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In my early 20’s I begun to understand the importance of nutrition and fitness, by keeping yourself in shape physically. The flesh and bones that are part of us came from the earth we walk on, it needs to be fed from the food sources found in mother earth. To only consume high energy natural foods and steer away from processed sources. Exercising the body was also important, remaining flexible and supple. I spent like many do, hours down the gym watching my body change from exercise and the foods I consumed. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Karate</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Having always loved Martial Arts I found a random Wado Ryu Karate club near my home . The teacher was Japanese, Masafumi Shiomitsu Sensei 7th Dan, in degrees of lineage, it was him and then the founder of Wado Ryu. Lucky me! I trained with him for many years, the punching and kicking was great exercise. But there I was introduced to Meditation, Mokuso-Empty Mind. At the beginning of every class we would practice this and continued as much as I could at home. From this my awareness grew and my fears disappeared, until it gave me the ability to feel what my opponent was about to do before he had done it. It was in our warm ups and stretching, I suddenly found that we can place tension in our bodies even when we were stretching. So at this point by returning to the breath a state of relaxation extends to the whole body. The breath is our Superpower.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Mediumship & Healing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Many years passed and I met my beautiful wife Helen, we had so much in common having unusual experiences as children and adults. Feeling, seeing and experiencing unexplainable things. So together we explored the world of mediumship leading us to meet teachers such as Glyn Edwards, Eileen Davies, Jackie Brian and many more, we had some amazing experiences with this unseen world. It was also at this time I realised I had natural healing ability within me, always being interested in the bodies energy and how it affected us. Realising the bodies energy can be more important than the flesh and bones part us. This healing would be hands on or a few words to a stranger, it had some dramatic affects. But in this exploration, I found the breath could affect our consciousness, realizing there is a lot lot more to this.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Ki Aikido</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Following on from this I suddenly felt the calling of Marshall Arts again, not being able to find an art that included true spirituality, I came across Ki Aikido (Shin Shin Ki Aikido). Here with the help of Packman Sensei and Sindon Sensei a true understanding of movement with mind and body unification can be achieved and a non-conflict way of life is understood. Here I gained my 2nd degree black belt which enabled me to teach others in Ki Aikido. Once again the common factor of the Breatallows us to live a centred way of Life.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Kriya Yoga</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Around the same time I met Swami Aliananda Paramahansa teacher of Kriya Yoga, she had travelled to India (the Himalayas) to find Kriya Yoga from the source, Maha Avatar Babaji. The same Babaji as in Swami Paramahansa Yogananda’ s book, Auto Biography of a Yogi. After visiting Aliananda many times, being shown the Kriyas, she asked me to be a teacher for Kriya Yoga. Here I gained a true awareness of the self. This self is in everyone, the realisation of it allows one to come from their truth, from their spirit, where your powers lie. Suddenly being an observer of this world and not participating in the plays and dramas that everyone becomes attached to. Solutions appeared before the problems confront me.  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>The
                                    <br>Common
                                    <br>Element!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">The most amazing thing I suddenly realized, all my Teachers had given me a space to find My Breath and step into my Truth.
                    We can only push the physical body so far. With some simple breathing technics, allowing the mind to still with meditation, we can release those unwanted tensions. Allowing the bodies energy to flow as it should, bringing an ease to life keeping disease at bay. Nowhere for anxiety, headaches, joint pain and suffering. When we feed are body with foods of the earth, use the power of the mind and breath for us, not against us. True Miracles happen, being that change you want to see in the world. Supreme unification, True Yoga.
                    Keep it simple, Breathe, let go and surrender to your inner power.
                    This is the story so far; tomorrow is a new day.   Remember “Paul Says Just Breath”
                    Love and Blessings, Paul x</h3>
                </div>
            </div>
        </div>
    </section>
