<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What I can do for you.</h2>
                    <h3 class="section-subheading text-muted">I offer you the space to change those habits of a life time and remember the true power of your breath. <br> <br>
                    Through kinesiology (muscle testing) we can soon see by breathing in the chest alone, this brings weakness to the entire body. By breathing the breath of Kriya Yoga into every part of the body, you create a state of empowerment. This is naturally yours and keeps the body in perfect balance. By consciously breathing this way it slowly but surely seeps into the subconscious, giving you a 24/7 breath of empowerment.
                    When you incorporate this and become aware of your, thoughts, words and actions. Once again with muscle testing you can see how these can easily empower you or weaken you.
                    You can really start to make that change in your daily life and the life's of others.
                    Words are not always enough to explain an experience like this. Like they say "you cannot get wet by the word water, you need the direct experience of it".
                    So i offer, 1 to 1, group session, workshops, online or in person tuition, to start you on your way to a more harmonious lifestyle with the help of Kriya Yoga Breathing and meditation. <br> <br>
                    I look forward to seeing you soon.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">1 to 1</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Group Sessions</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshops</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
